* {
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    text-align: center;
    line-height: 1.5;

}





.main-nav a {
    color: #000; 
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding-right: 2.5em;
    
}

.backgroundc{
    background-color: rgb(243, 243, 243);
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main {
    padding-top: 15px;
}

.main p {
    padding-top: 15px;
    padding-bottom: 25px;
    
}

.port {
    text-transform: uppercase;
    padding-top: 35px;
    padding-bottom: 35px;
}

img {
    width: 100%;

}

.container {
    width: 90%;
    margin: 0 auto;
}


.main-nav li {
    list-style: none;
    padding: 6px;
    
}

.contact-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 55px;
    background-color: rgb(243, 243, 243);

}

.contact-info a {
    color: #000;
    text-decoration: none;
}

.main-footer {
    float:left;
}

.footer-info {
    float:right;
}

.footer-info a {
    color: #000;
    text-decoration: none;
}

.contact-container h2 {
    text-transform: uppercase;
    padding-top: 50px;
}

.footer-nav {
    display: none;
}


hr {
    width: 90%;
}



@media screen and (min-width: 768px) {
    
    img {
        width: 100%;
        width:300px;
        height:200px;
    }

    

    .main-nav li {
        display:inline;
       
    }

    

    .main {
        padding-bottom: 50px;

    }

    
   .main img {
       float:right;
       padding-top: 30px;
   }

    .main p {
        width: 50%;
    }

    .rows {
        float: left;
        width: 45%;
        padding-left: 8%;
        
    }

    .contact-container {
        padding-top: 30px;
        
    }

   
    .footer-nav {
        display:flex;
        list-style:none;
        float:right;
    }

    .footer-nav a {
        color: #000; 
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 900;
        padding: 10px;
        
    }
    
   .container, .rows {
       padding-bottom: 50px;
       padding-top: 50px;
   }

   

   
    .main-footer {
        float:left;
        
    }

    .footer-info {
        display: none;
    }

    
       
    

    .clearfix {
        clear:both;

    }

}

@media (min-width: 1024px) {

.main-name {
    float:left;
}

.main-nav {
    display:flex;
    float:right;
}
    
 .container-row {
     width: 80%;
     max-width: 1150px;
 }

 .col-1, .col-2, .col-3 {
     float:left;
 }
 

 
 
    
}


 
 
